.header>span{font-size: 12px; color:rgb(104, 104, 104); cursor: pointer;margin-right:10px;font-variant-caps: all-petite-caps;}
.header>span:hover{color:#74d23d}
.header{width:90%; margin:auto;margin-top:15px;}