.Container {background: white; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; display:grid; grid-template-columns: 20% 50% 20%; justify-content: space-around; align-items: center;}

.logsin { display:flex;align-items: center; justify-content: center;}
.logsin>div {margin:5px;}
.SearchContainer{border:1px solid rgb(156, 156, 156);display:flex; align-items: center;margin:0px; width:100%; padding:0px;}

.Search {width:100%; min-width:200px; padding:8px 4px 8px 20px;outline:none;border: none;}
/* .fa-magnifying-glass{padding:105px; background-color: red; color:red} */
.menu {font-size: 25px; color:rgb(71, 71, 71);cursor:pointer; display:none; float: right; position:absolute; right:20px; top:21px;}

@media screen and (min-width:600px) and (max-width:850px){
    .Container{
        grid-template-columns: 23% 40% 27%;
    }
    
}

@media screen and (min-width:500px) and (max-width:699px){
    /* .Container{grid-template-columns: 50% 0% 50%;} */
    /* .SearchContainer{display:none;} */
    .logsin{display:none;}
    .menu{display:block}

}


@media screen and (min-width:100px) and (max-width:499px){
    /* .Container{grid-template-columns: 50% 0% 50%;} */
    .SearchContainer{display:none;}
    .logsin{display:none;}
    .menu{display:block}

}

