.Container{width:90%; margin:auto; padding:20px;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;}
.head{margin:20px; font-size: 20px; font-weight: bold;}
.Container p {color:rgb(92, 92, 92);}